Resolution should only work with URI encoded JSON References

As reported in https://github.com/apigee-127/sway/issues/72, JSON References should be URI encoded so any API that takes a JSON Pointer/Reference _(resolution, ...)_ should first dereference the inputs prior to using the JSON Pointer/Reference.  This is mentioned in [RFC6901 Section 5](https://tools.ietf.org/html/rfc6901#section-5).